<!DOCTYPE html>
<html>
<head>
  <title>Sobre Mi Blog</title>
  <link href="/styles/main.css" rel="stylesheet" type="text/css">
  <link href="/styles/post.css" rel="stylesheet" type="text/css">
</head>
<body>
  <header>
    <h1>Mi Blog Personal</h1>
    <nav>
      <ul>
        <li><a href="/templates/blog1.html">Home</a></li>
        <li><a href="/templates/about.html">Sobre Mi</a></li>
        <li><a href="/templates/contact.html">Contacto</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <h2>Sobre Mi Blog</h2>
    <p>Este Blog ha sido creado para entregar noticias, historias, anécdotas, compartir experiencias acerca de la vida.</p>
    <p>Espero que encontreis mi Blog como algo informativo y de noticias de vuestro interés personal.</p>
    <p></p>
  </main>
  <footer>
    <p>Copyright &copy; 2023 Mi Blog Personal</p>
  </footer>
</body>
</html>
