<!DOCTYPE html>
<html>
<head>
  <title>Mi Blog Personal</title>
  <link href="/styles/main.css" rel="stylesheet" type="text/css">
  <link href="/styles/mainPost.css" rel="stylesheet" type="text/css">
</head>
<body>
  <header class="header">
    <h1 class="header__title">Mi Blog Personal</h1>
    <nav class="header__nav">
      <ul id="posts-menu">
        <li><a href="/templates/blog1.html">Home</a></li>
        <li><a href="/templates/about.html">Sobre Mi</a></li>
        <li><a href="/templates/contact.html">Contacto</a></li>
      </ul>
    </nav>
  </header>
  <main class="main">
    <section id="welcome-section">
      <h1>Bienvenido a mi Blog</h1>
      <p>Gracias por visitar mi sitio web. Aquí podrás encontrar todo sobre mis pensamientos y experiencias. Espero que disfrutes leyendo mis publicaciones.</p>
    </section>
      <div>
        <h2 class="main__section-title">Últimos Posts</h2>
      </div>
    <section>
      <div>
        <ul>
          <li><h3><a href="/posts/post1.html">Avances de la tecnología</a></h3></li>
          <li><h3><a href="/posts/post2.html">Guerra de Ucrania 2014</a></h3></li>
          <li><h3><a href="/posts/post3.html">ChatGPT - El chatbot avanzado</a></h3></li>
          <li><h3><a href="/posts/post4.html">Información sobre el coronavirus</a></h3></li>
          <li><h3><a href="/posts/post5.html">La importancia de la psicología en la depresión</a></h3></li>
        </ul>
      </div>
  </main>
  <footer class="footer">
    <p>Copyright &copy; 2023 Mi Blog Personal</p>
  </footer>

</body>

</html>
