<!DOCTYPE html>
<html>
  <head>
    <link href="/styles/main.css" rel="stylesheet" type="text/css">
    <link href="/styles/post2.css" rel="stylesheet" type="text/css">
    <title>Noticias futuras: Avances en tecnología</title>
      <header>
        <h1>Mi Blog Personal</h1>
        <nav>
          <ul>
            <li><a href="/templates/blog1.html">Home</a></li>
            <li><a href="/templates/about.html">Sobre Mi</a></li>
            <li><a href="/templates/contact.html">Contacto</a></li>
          </ul>
        </nav>
      </header>
  </head>
  <body>
    <section>
      <div class="blog-post">
     </div>
    </section>
    <footer>
      <p>Copyright &copy; 2023 Mi Blog Personal</p>
    </footer>
  </body>
</html>

